*.iml
.gradle/
.idea/
local.properties
**/build/
*.jks
*.keystore
.kotlin/
app/src/main/assets/music/*.mp3
app/src/main/assets/music/**/*.mp3
*.MP3
*.RAR
*.[mM][pP]3
*.[rR][aA][rR]
MPB.rar
*.rar
*.mp3
*.apk
*.aab
.env
.env.*
__pycache__/
